/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #FEBA4F;
}

/* Navbar Styles */
.navbar {
    background-color: #6c757d !important;
}

.navbar-brand {
    color: #ffffff !important;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
}

.navbar-nav .nav-link:hover {
    color: #f4f4f4 !important;
}

.logo {
    height: 60px;
    margin-right: 20px;
  }

/* Container Styles */
.container {
    margin-top: 20px;
}

.menu-populer {
    margin-top: 30px;
}

/* About Us Page Styles */
.founder-profiles {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
}

.profile {
    flex: 0 0 auto;
    width: 250px;
    margin-right: 20px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile img {
    width: 100%;
    border-radius: 50%;
}

.profile p {
    margin: 10px 0 0;
}

/* Katalog Page Styles */
.catalog-item {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.catalog-item img {
    width: 100%;
    border-radius: 10px;
}

.catalog-item p {
    margin: 10px 0;
}

/* Contact Page Styles */
.contact-details {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-control,
.btn {
    border-radius: 5px;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

#contact-form .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

#contact-form .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.greeting {
    padding: 40px;
    text-align: center;
  }
  .greeting h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .greeting p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
